canvas{
    
    border:1px solid #000;
    overflow-y: scroll;
    
}


.canvasHolder{
    width:660px;
    height: 400px;
    overflow: auto;
}


.leftContainer> .row{
    height: 100px;
    overflow-y: scroll;
    display:block;
}
a{
    font-size: 12px;
}
.active{
    border-radius: 10px;
    padding: 3px 3px 3px 3px;
    background-color: red;
    color: #fff;
}
#wait_element{
    position: absolute;
    top: 48%;
    left: 45%;
    z-index: 2;
}
#wait{
    background-color: #fff;

}
#wait img{
    display: block;
    border: 1px solid #000;
    
}


